body {
    background-image: url(../starry.webp);
    background-size: cover;
    /* Adjusted to cover the full body */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav.navigation {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.navigation a {

    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 0.5em 1em;
    border-color: white;
    border-style: solid;
    border-radius: 2em;
    border-width: medium;
    fill: black;
    fill-opacity: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    background: white;
    border-radius: 1em;
    width: 100%;
    max-width: 1200px;
    max-height: -moz-fit-content;
    max-height: fit-content;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.container h1 {
    font-size: 3rem;
    font-size: min(8vw, 3rem);
}

.container h3{
    font-size: 1.2rem;
}
form.textInput {
    display: flex;
    flex-direction: column;
    height: 50%;
    flex: 1
}

.formInput {
    position: relative;
    left: 5%;
    width: 90% !important;
    padding: 10px !important;
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-width: medium;
    border-radius: 1em;
    flex: 1;
}

.button {
    padding: 0.5em 1em;
    background: black;
    font-size: min(3vw, 1.5rem);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 2em;
    color: white;
    margin: 1em;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
}

.spacer {
    flex: 1;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 2em;
}



@media only screen and (max-width: 1200px) {

    /* For mobile phones: */
    .horizontal-flex {
        flex-direction: column;
    }

    .container {
        min-height: 300px;
    }
}

/* About page specific stuff */


.developer {
    display: flex;
    flex-direction: row;
    margin: 2em;
    border-style: solid;
    border-radius: 5em 1em 1em 5em;
    border-width: 3px;
}

.developer-image {
    flex: 0 0 auto;
    height: 10em;
    border-color: black;
    border-style: solid;
    margin: -3px;
    border-width: 3px;
    border-radius: 50% 50% 50% 50%;
}

.developer-text {
    flex: 1 1 auto;
}

.avatar {
    width: 100%;
    max-width: 10em;
}

.circle {
    border-radius: 50% 50% 50% 50%;
}

.hlfCircle {
    border-radius: 0% 0% 50% 50%;
}

@media only screen and (max-width: 1200px) {
    .developer {
        flex-direction: column;
        border-radius: 1em;
        padding: 1em;
    }

    .developer-image {
        border-width: 0;
    }
}

/* Results page specific stuff */

hr {
    color: black;
    width: 100%;
    border: 2px solid black;
}

.bigText {
    font-size: min(5rem,10vw);
    font-weight: 900;
}

.mediumText {
    font-size: min(2em, 5vw);
    font-weight: 700;
}

.medSmallText {
    font-size: min(1.5em, 2.5vw);
    font-weight: 300;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.align-left {
    text-align: left;
}

.padding {
    padding: 2em;
}

.noMarginPadding {
    margin: 0;
    padding: 0;
    gap: 0;
}