{% extends "base.html"%}

{% block main %}

<body>
    <div class="horizontal-flex">
        <div class="spacer"></div>
        <div class="container">
            <h1>About this app</h1>
            This app is made with the intent of blah blah blah because of blah blah blah.
        </div>

        <div class="container">
            <h1>Developers</h1>

            This app is made with ❤️ by these cool people.

            <div class="developer">
                <div class="developer-image">
                    <img class="avatar circle" src="{{ url_for('static', filename='images/1678.webp') }}" alt="Avatar" />
                </div>
                <div class="developer-text">
                    <div class="developer-name">
                        <h2> Ankie 1678 </h2>
                    </div>
                    <div class="developer-name">
                        <h3> SOCIAL LINKS GO HERE </h3>
                    </div>
                    <div class="developer-details">
                        Powered by Hannibal Lecter.
                    </div>
                </div>
            </div>

            <div class="developer">
                <div class="developer-image">
                    <img class="avatar circle" src="{{ url_for('static', filename='images/4201.webp') }}" alt="Avatar" />
                </div>
                <div class="developer-text">
                    <div class="developer-name">
                        <h2> 4201 </h2>
                    </div>
                    <div class="developer-name">
                        <h3> SOCIAL LINKS GO HERE </h3>
                    </div>
                    <div class="developer-details">
                        Shrouded in mystery
                    </div>
                </div>
            </div>

            <div class="developer">
                <div class="developer-image">
                    <img class="avatar circle" src="{{ url_for('static', filename='images/4680.webp')}}" alt="Avatar" />
                </div>
                <div class="developer-text">
                    <div class="developer-name">
                        <h2> 4680 </h2>
                    </div>
                    <div class="developer-name">
                        <h3> SOCIAL LINKS GO HERE </h3>
                    </div>
                    <div class="developer-details">
                        Professional marketer and designer.
                    </div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='scripts/character.js')}}"></script>
            <div class="developer">
                <div class="developer-image">
                    <img class="avatar hlfCircle" src="{{ url_for('static', filename='images/bloom/Open.webp') }}"
                        alt="Avatar" onload="onLoad(this,[
                            '{{ url_for('static', filename='images/bloom/Open.webp')}}',
                            '{{ url_for('static', filename='images/bloom/Closed.webp')}}',
                            ])" />
                </div>
                <div class="developer-text">
                    <div class="developer-name">
                        <h2> Derrick "Bloom" Timmermans </h2>
                    </div>
                    <div class="developer-name">
                        <h3> SOCIAL LINKS GO HERE </h3>
                    </div>
                    <div class="developer-details">
                        Nyaaaa :3
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</body>

{% endblock main %}