<!DOCTYPE html>
<html lang="en">
<head>
<title>升级版文字测试界面</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- description -->
<meta name="description" content="Login Form - Responsive Template">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Material Design Icons CSS -->
<link rel="stylesheet" href="../static/css/materialdesignicons.css">
<!-- Bootstrap Checkbox CSS->
<link rel="stylesheet" href="../static/css/awesome-bootstrap-checkbox.css">
<!-- Rippler CSS -->
<link rel="stylesheet" href="../static/css/rippler.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="../static/css/style.css">
<!-- Responsive  CSS -->
<link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/fancierIndex">BetterHome</a>

{% block main%}
{% endblock main%}
</body>
</html>
