<!DOCTYPE html>
<html lang="en">
<head>
<title>升级版文字测试界面</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"



<!-- description -->
<meta name="description" content="Login Form - Responsive Template">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Material Design Icons CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.css') }}">
<!-- Bootstrap Checkbox CSS->
<link rel="stylesheet" href="../static/css/awesome-bootstrap-checkbox.css">
<!-- Rippler CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/rippler.min.css') }}">
<!-- Style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/fancierIndex">BetterHome</a>


<body>

<div class="container py-2">
    <div class="row">
        <div class="col-md-12">
			<div class="logo">
				<a href="#">
					<h1>文风小测试</h1>
				</a>
			</div>
            <div class="row">
                <div class="col-md-6 login-form mx-auto">
                    <!-- form card login -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/fancierIndex">
                                {{ form.csrf_token() }}

                                <div class="form-group">
                                    {{ form.str(placeholder="请输入自己的文字", class_="form-control") }}
                                </div>
                                
								<div class="col-lg-6">
									{{ form.submit(class_="btn btn-success hover-btn btn-wd text-center") }}
								</div>
                            </form>
							
							<div class="row">
								<div class="col-lg-12">
									<div class="create-box text-block text-center my-0">
										<span class="text-small font-weight-semibold">Text Place Holder</span>
										<a href="#" class="text-black text-small">Place Holder</a>
									</div>
								</div>
							</div>
                        </div>
                        <!--/card-block-->
						<div class="card-footer">
							<div class="copy-text">Copyright &copy; 2024.Write Like Good Omens All rights reserved.<a target="_blank" href="/trick">About Us</a></div>
						</div>
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

<!-- jquery latest version -->

<!-- {{ url_for('static', filename='') }} -->


<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>    
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.rippler.min.js') }}"></script>	
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>