{% extends "base.html"%}

{% block main %}

<div class="container">
    
    <h4>
        测试结果如下
    </h4>
    
    {% for i in range(0, 6, 2) %}

        <h2>{{ result[i] }}</h2>
        <h3>{{ result[i+1] }}</h3>
        
    {% endfor %}

    <p>
    </br>
        输入内容：
        {{ result[-1] }} </br>
    </p>
    
    <h6>
        但是悄悄告诉你，因为小程序喜欢帽子，所以它觉得一切都很像4680喔
    </h6>

    <a href="/home" class="repeat">再来一次</a>
</div>

<style>
    repeat{
        color:blue;
    }
</style>

{% endblock main %}
